<div class="container">
  <h1>Tournées</h1>

  <div *ngIf="idVelo !== null && velos.length > 0; else noVelos" class="cards">
    <ng-container *ngFor="let velo of velos">
      <div *ngIf="velo.idVelo === idVelo" class="card">
        <h3>Vélo {{ velo.idVelo }}</h3>
        <div *ngFor="let tournee of tourneeService.getTourneesForVelo(velo.idVelo); let i = index">
          <p>
            <strong>Tournée {{ i + 1 }}</strong>
          </p>
          <button (click)="goToVeloPage(velo.idVelo)">Voir la tournée {{ i + 1 }}</button>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #noVelos>
    <p>Aucun vélo disponible.</p>
  </ng-template>
</div>
