<div class="map-container">
  <div id="map" class="map"></div>
  <button (click)="deselectRoute()" class="deselect-button">Désélectionner la route</button>
</div>

<div *ngFor="let velo of velos">
  <div class="velo-item">
    <h3>Vélo {{ velo.idVelo }}</h3>
    <select [(ngModel)]="velo.startPoint">
      <option *ngFor="let point of pointsInteret" [ngValue]="point">{{ point.nom }}</option>
    </select>
    <select [(ngModel)]="velo.endPoint">
      <option *ngFor="let point of pointsInteret" [ngValue]="point">{{ point.nom }}</option>
    </select>
    <button *ngIf="velo.startPoint && velo.endPoint" (click)="startMovingVelo(velo.idVelo, velo.endPoint)">
      Déplacer Vélo {{ velo.idVelo }}
    </button>
  </div>
</div>

<h3>Ajouter un Incident</h3>
<form (ngSubmit)="submitIncident()">
  <label for="startPoint">Départ :</label>
  <select id="startPoint" [(ngModel)]="newIncident.startPoint" name="startPoint" required>
    <option *ngFor="let point of pointsInteret" [value]="point.nom">{{ point.nom }}</option>
  </select>

  <label for="endPoint">Arrivée :</label>
  <select id="endPoint" [(ngModel)]="newIncident.endPoint" name="endPoint" required>
    <option *ngFor="let point of pointsInteret" [value]="point.nom">{{ point.nom }}</option>
  </select>

  <button type="submit">Signaler Incident</button>
</form>

<h3>Incidents Actifs</h3>
<ul>
  <li *ngFor="let incident of incidents" [class.blocked]="incident.blocked">
    {{ incident.startPoint }} -> {{ incident.endPoint }} Etat : {{ incident.blocked }}
  </li>
</ul>
