<div class="container">
  <h1>DashBoard Gestionnaire Réseau</h1>
  <div style="display: flex">
    <p-card>
      <i class="pi pi-users" style="font-size: 2rem; margin-right: 15px"></i>
      <label>Vélo en Circulation : {{ this.nbVeloCirculation }}</label>
      <p-button label="Gérer" />
    </p-card>
    <p-card>
      <i class="pi pi-folder-open" style="font-size: 2rem; margin-right: 15px"></i>
      <label>Vélo Hors-Circulation : {{ this.nbVeloHorsCirculation }}</label>
      <p-button label="Gérer" />
    </p-card>
    <p-card>
      <i class="pi pi-euro" style="font-size: 2rem; margin-right: 15px"></i>
      <label>Incidents : {{ this.nbIncident }}</label>
      <p-button severity="warning" label="Gérer" />
    </p-card>
    <p-card>
      <i class="pi pi-arrow-right-arrow-left" style="font-size: 2rem; margin-right: 15px"></i>
      <label>Avancement Tourné : {{ this.nbPourcentAvancementTourne }} %</label>
      <p-button severity="info" label="Infos" />
    </p-card>
  </div>
</div>
