.container {
  margin: 20px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

p-card {
  margin: 1rem;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.icon.warning {
  color: orange;
}

.icon.success {
  color: green;
}
